* {
  margin: 0;
  padding: 0;
}

$roboto: 'Roboto';
$cursive_font: 'Satisfy';
$round: 'Varela Round';
$kotta: 'Arvo';
$kotta: 'Kotta One'
$green_color: #95c33f;
$primary_color: #213246;
$dark_color: #141e2a;
$light_color: #162431;
$white_color: #fff;
